// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/addressList/addressList";

@import "../pages/friendCircle/friendCircle";

@import "../pages/home/home";

@import "../pages/userCenter/userCenter";

.textAlignRight{
  text-align : right;
}

.alignCenter{
  text-align : center;
}

.marginTop10{
  margin-top: 1.5rem;
}
.marginBottom10{
  margin-bottom: 1.5rem;
}

/*文本格式*/
.ellipsis,.ellipsis-2,.ellipsis-3,.ellipsis-4{
  display: -webkit-box;
  overflow: hidden;
  white-space: normal!important;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
}
.ellipsis{
  -webkit-line-clamp: 1;
}
.ellipsis-2{
  -webkit-line-clamp: 2;
}
.ellipsis-3{
  -webkit-line-clamp: 3;
}
.ellipsis-4{
  -webkit-line-clamp: 4;
}
